.profile {
  margin: 0;
  width: 100%;
  padding-top: 38.25px;
  box-sizing: border-box;
}

.profile__module {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  background-color: transparent;
  border-radius: 50%;
}

.profile__pers-data {
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.profile__details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 6px;
}

.profile__name-field {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  max-width: 400px;
  gap: 18px;
  position: relative;
}

.profile__name {
  margin: 0;
  color: #fff;
  font-size: 42px;
  font-weight: 500;
  line-height: calc(48/42);
  max-width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__profession {
  margin: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: calc(22/18);
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__edit-button {
  margin: 0;
  padding: 0;
  line-height: 1;
  border: 0;
  background-color: transparent;
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  right: -42px;
  bottom: 10px;
}

.profile__edit-button-image {
  width:24px;
  height:24px;
}

.profile__add-button {
  margin: 0;
  padding: 0;
  line-height: 1;
  border: 2px solid white;
  background-color: transparent;
  width: 150px;
  height: 50px;
  cursor: pointer;
}

.profile__add-button-image {
  width:22px;
  height:22px;
}

@media (max-width: 800px){
  .profile__name-field {
    max-width: calc(400px - 20px - (800px - 100vw));
  }

  .profile__name {
    font-size: 27px;
    line-height: calc(32.68/27);
  }
  
  .profile__profession {
    font-size: 14px;
    line-height: calc(16.94/14);
  }

  .profile__edit-button {
    right: -28px;
    bottom: 7px;
    width: 18px;
    height: 18px;
  }

  .profile__edit-button-image {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 600px){
  .profile__name-field {
    max-width: 65vw;
  }

  .profile__pers-data {
    flex-direction: column;
    gap: 26px;
  }

  .profile__module {
    flex-direction: column;
    gap: 26px;
  }

  .profile__details {
    align-items: center;
    gap: 8px;
  }

  .profile {
    padding: 42px 19px 0 19px;
  }

  .profile__add-button {
    width: 100%;
    margin-top: 7px;
  }

  .profile__add-button-image {
    width:16px;
    height:16px;
  }
}